@using SGHR.Application.Dtos.Configuration.Reservas.Reserva
@model CreateReservaDto

@{
    ViewData["Title"] = "Crear Reserva";
}

<div class="container mt-5">
    <div class="card shadow-sm mx-auto" style="max-width: 500px;">
        <div class="card-header bg-primary text-white">
            <h4>Crear Nueva Reserva</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post">
                <div class="mb-3">
                    <label asp-for="NumeroHabitacion" class="form-label"></label>
                    <input asp-for="NumeroHabitacion" class="form-control" />
                    <span asp-validation-for="NumeroHabitacion" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="CedulaCliente" class="form-label"></label>
                    <input asp-for="CedulaCliente" class="form-control" />
                    <span asp-validation-for="CedulaCliente" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="CorreoCliente" class="form-label"></label>
                    <input asp-for="CorreoCliente" class="form-control" />
                    <span asp-validation-for="CorreoCliente" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="FechaInicio" class="form-label"></label>
                    <input asp-for="FechaInicio" class="form-control" type="date" />
                    <span asp-validation-for="FechaInicio" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="FechaFin" class="form-label"></label>
                    <input asp-for="FechaFin" class="form-control" type="date" />
                    <span asp-validation-for="FechaFin" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <a asp-action="Index" class="btn btn-primary me-2">Agregar servicio</a>
                    <button type="submit" class="btn btn-primary me-2">Crear</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

