@using SGHR.Web.Models.Habitaciones.Habitacion
@model CreateHabitacionModel

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <div class="card shadow-sm mx-auto" style="max-width: 500px;">
        <div class="card-header bg-primary text-white">
            <h4>Crear Nuevo Cliente</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post">
                <div class="mb-3">
                    <label asp-for="Numero" class="form-label"></label>
                    <input asp-for="Numero" class="form-control" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="NumeroPiso" class="form-label"></label>
                    <input asp-for="NumeroPiso" class="form-control" />
                    <span asp-validation-for="NumeroPiso" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Capacidad" class="form-label"></label>
                    <input asp-for="Capacidad" class="form-control" />
                    <span asp-validation-for="Capacidad" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="AmenityName" class="form-label"></label>
                    <input asp-for="AmenityName" class="form-control" />
                    <span asp-validation-for="AmenityName" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <label asp-for="CategoriaName" class="form-label"></label>
                    <input asp-for="CategoriaName" class="form-control" />
                    <span asp-validation-for="CategoriaName" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary me-2">Crear</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


