@using SGHR.Web.Models.Reservas.Tarifa
@model CreateTarifaModel

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <div class="card shadow-sm mx-auto" style="max-width: 500px;">
        <div class="card-header bg-primary text-white">
            <h4>Crear Nueva Piso</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post">
                <div class="mb-3">
                    <label asp-for="NombreCategoria" class="form-label"></label>
                    <input asp-for="NombreCategoria" class="form-control" />
                    <span asp-validation-for="NombreCategoria" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Fecha_inicio" class="form-label"></label>
                    <input asp-for="Fecha_inicio" class="form-control" />
                    <span asp-validation-for="Fecha_inicio" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Fecha_fin" class="form-label"></label>
                    <input asp-for="Fecha_fin" class="form-control" />
                    <span asp-validation-for="Fecha_fin" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Precio" class="form-label"></label>
                    <input asp-for="Precio" class="form-control" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary me-2">Crear</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
